body {
	font-size:16px; 
	font-family: Arial, sans-serif;
	background-image:url("paperbackground.png");
	background-color:#ffffcc;
}

main {
	background-color: #ffffff;
	margin-top: 20px;
	margin-left:200px;
	margin-right:200px;
	padding: 20px;
}

h2 {
	border-bottom: 1px solid #999;
}

h3 {
	padding-bottom: -20px;
	margin-bottom: -20px;
}

h4 {
	padding-bottom: -20px;
	margin-bottom: -20px;
}

a {
	color: #00CC00;
}

a:hover {
	color: #800000;
}

img {
	display: inline;
	float: right;
	margin-right: 90px;
	box-shadow: 1px 2px 20px #000;
	transform: translateY(-20px);
}


.personalinfo h2 {
	text-transform: uppercase;
}



.MSB p{
	margin-left: 20px;
	font-size: 18px;
	font-style: bold;
}


.UniversityMinnesota p{
	margin-left: 20px;
	font-size: 18px;
	font-style: bold;
}


.JET p{
	margin-left: 20px;
	font-size: 18px;
	font-style: bold;
}



.date {
	float:right;
}

#snapshot {
	font-style: italic;
}


.education p{
	margin-left: 20px;
}

header h2 {
	border: none;
}

.MSB p {
	font-style: italic;
}

.UniversityMinnesota p {
	font-style: italic;
}

.JET p {
	font-style: italic;
}